/* by 1nMov3 */
* { }
body {
	background: black;
	color: white;
	font-size: 23px;
	margin: 0;
	padding: 60px 0 0 0;
	font-family: courier;
	letter-spacing: 1px;
}
.centro {
	margin: 0px auto;
    width: 100%;
}
.head {
	width: 100%;
	height: 60px;
	position: absolute;
	background: black;
	top: 10px;
}

.logo {
	width: 200px;
	height: 60px;
	margin: auto;
	display: block;
}
/* MENU DESPEGABLE */
ul.menu {
	position: absolute;
	float: left;
	list-style: none;
	color: silver;
	top: -20px;
 }
.menu li {
 	 font-size:15px;
	 position:relative;
	 float:left;
	 left: -2px;
	 top: 15px;
	 display: inline-block;
	 width: 100px;
	 height: 50px;
 }
.menu li a {
	 color: silver;
	 text-decoration:none;
 }
.menu li a:hover {
	color: silver;
 }
.menu li ul {
	 list-style-type:none;
	 display:inline-block;
	 position:absolute;
	 top:20px;
	 width: 120px;
	 background: transparent;
	 padding:0;
 }
.menu li ul li {
	 width: 120px;
	 padding: 10px 20px;
 }
.menu li ul li:first-child {
 	background: transparent;
 }
.menu li ul li a {
	 width: 120px;
	 margin: 0;
	 padding:0;
 }
.menu li ul li a:hover {
	 width: 120px;
	 color: red;
	 background: transparent;
 }
 /* FIN MENU DESPEGABLE */
.almas {
	width: 250px;
	height: auto;
	margin: auto;
	display: block;
	border-radius: 10px;
	position: relative;
	top: 5px;
}
#nueve {
	margin: auto;
	display: block;
	width: 230px;
	height: auto;
	font-size: 20px;
	position: relative;
	top: 45px;
}
#dibu {
	border-radius: 20px;
	width: 50px;
	height: 50px;
}
.footer {
	position: relative;
	color: white;
	font-family:  bold;
	font-size: 15px;
	top: 70px;
	text-align: center;
}

/* SCREEN */

@media screen and (min-width: 768px) {

	.head {
		width: 100%;
		height: 100px;
		position: absolute;
		top: 10px;
	}

	.logo {
		width: 300px;
		height: 100px;
		margin: auto;
		display: block;
	}
	/* MENU */
	ul.menu {
	    position: relative;
	 	list-style: none;
	 	color: silver;
	 	top: -10px;
 	}
	.menu li {
	 	font-size:20px;
	 }
	 .menu li ul {
	 	width: 200px;
	 }
	 .menu li ul li {
		 width: 200px;
	 }
	.menu li ul li a {
		 width: 200px;
	 }
	.menu li ul li a:hover {
		 width: 200px;
	 }
	 /* FIN MENU */
	.almas {
		width: 300px;
		height: auto;
		position: relative;
		top: 5px;
	}
	#nueve {
		width: 290px;
		display: block;
		font-size: 22px;
		position: relative;
		top: 110px;
	}
	#dibu {
		border-radius: 20px;
		width: 60px;
		height: 60px;
		top: 60px;
	}
	.footer { 
		font-size: 20px; 
		position: relative;
		top: 120px;
	}
}